<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>抢票系统</title>
    <link href="$!{rc.contextPath}/assets/stylesheets/common/bootstrap.min.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/stylesheets/common/font-awesome.min.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/stylesheets/custom/newcustom.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/kendo/ued/framework/styles/kendo.common.min.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/kendo/ued/framework/styles/kendo.default.min.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/kendo/ued/css/layout-default-latest.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/kendo/ued/skins/hctpl3/css/skin.css" rel="stylesheet" id="skin_css_file"/>
    <link href="$!{rc.contextPath}/assets/kendo/ued/css/ztree/zTreeStyle.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/kendo/ued/css/font-awesome.min.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/css/custom.css?v=$!{platform_version}" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/css/odometer-theme-default.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/css/liMarquee.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/assets/kendo/ued/css/jquery.validator.css" rel="stylesheet">

    <script src="$!{rc.contextPath}/assets/kendo/ued/js/jquery-1.11.1.min.js"></script>
    <script src="$!{rc.contextPath}/assets/kendo/ued/js/jquery.layout-latest.js"></script>
    <script src="$!{rc.contextPath}/assets/kendo/ued/js/jquery-ui.min.js"></script>
    <script src="$!{rc.contextPath}/assets/kendo/ued/js/jselect.js"></script>
    <script src="$!{rc.contextPath}/assets/datepicker/WdatePicker.js"></script>
    <script src="$!{rc.contextPath}/assets/js/odometer.min.js"></script>
    <script src="$!{rc.contextPath}/assets/js/jquery.liMarquee.js"></script>
    <script src="$!{rc.contextPath}/assets/js/jquery.hDialog.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/javascripts/common/html5shiv.js"></script>
    <![endif]-->
</head>
<body style="overflow:-Scroll;overflow-x:hidden">
<div class="container-fluid container-custom">
    <div class="row-fluid">
        <!--导航栏-->
        <div class="nav-custom">
            <img src="$!{rc.contextPath}/assets/images/grab/nav/nav-bg.png" alt="" id="nav-bg">
        </div>
        <div class="nav-left">
            <div class="nav-img">
                <img src="$!{rc.contextPath}/assets/images/grab/nav/nav-hz.png" alt="" />
            </div>
            <div class="nav-title">
                <div class="hzs">浙江省杭州市</div>
                <div class="gongan">萧山公安<span>抢票系统</span></div>
            </div>
        </div>
        <div class="nav-right">
            <div class="nav-msg">
                <div class="nav-date">
                    日期:
                    <span id="ymd">2018-03-27</span>
                    <span id="hms">星期三</span>
                </div>
                <div class="nav-yh">
                    #*<div class="nav-list" style="height: 13px;width: 13px;background-color: red;margin-left: -16px;margin-top: 4px;" id="bkgRed">

                    </div>
                    <div class="nav-list" style="height: 13px;width: 13px;background-color: blue;margin-left: -16px;margin-top: 4px;" id="bkgBlue">

                    </div>*#
                    <div class="nav-list">
                        #if(${adminRole}==true)
                            <button style="background-color: #245db6" >后台管理</button>
                        #end
                        <span>用户:</span>
                        <span>${user.username}</span>
                    </div>
                    <div class="nav-list">
                        <span>部门:</span>
                        #if(${user.department})
                            <span>$!{user.department}</span>
                        #else
                            <span>暂无</span>
                        #end
                    </div>
                    <div class="nav-list">
                        <a href="$!{rc.contextPath}/hoUser/logout">
                            <span><img src="$!{rc.contextPath}/assets/images/grab/nav/tuichu.png" alt="" /></span>
                            <span>退出登录</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--导航栏-->
        <!--左侧导航-->
        <div class="nav-custom-left" id="left-nav">
            <img src="$!{rc.contextPath}/assets/images/grab/nav/nav-left.png" alt="" id="nav-left">
        </div>
        <div class="nav-list-ul">
            <ul class="list-group list-left">
                <li class="list-group-item" id="msqp">
                    <img src="$!{rc.contextPath}/assets/images/grab/nav/mas.png" alt="马上抢票" />
                    <span><a href="$!{rc.contextPath}/toHome"> 马上抢票</a></span>
                </li>
                <li class="list-group-item" id="qpjg">
                    <img src="$!{rc.contextPath}/assets/images/grab/nav/result.png" alt="抢票结果" />
                    <span> <a href="$!{rc.contextPath}/activity/result"> 抢票结果</a> </span>
                </li>
                <li class="list-group-item" id="grzx">
                    <img src="$!{rc.contextPath}/assets/images/grab/nav/person.png" alt="个人中心" />
                    <span><a href="$!{rc.contextPath}/toPersonInformation"> 个人中心</a></span>
                </li>
            </ul>
        </div>
        <!--左侧导航-->
        <!--正文-->
        <div class="wrapper">
            <div id="example" style="margin:0px;height: 100%;">
                <div class="k-header ui-layout-center" >
                    <form id="jqcllist" class="ui-form">
                    </form>
                    <div style="height: 94%;">
                        <div id="grid_jqcllist"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--正文-->
    </div>
</div>
#parse("platform/_footer.vm")

<script>
    (function($, window, document, undefined) {

        //加载页面颜色
        //loadColor();
        /**
         * setHeight()
         * 为了方便一屏展示所有数据，设置元素高度
         */
        var setHeight = function(opt,item) {
            var winHeight = $(window).height(),
                    panelHeight = opt.offset().top;
            var getHeight = winHeight - panelHeight-50;
            opt.height(getHeight + "px");
            //item.height($(document).height()+35 + "px");
            item.height($(document).height()-100 + "px");
            //item.find("img").height($(document).height()+35+"px");
            item.find("img").height($(document).height()-100+"px");
        }


        function timeStamp2String(time){
            var datetime = new Date();
            var year = datetime.getFullYear();
            var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
            var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
            var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
            var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
            var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
            var ymd = year + "-" + month + "-" + date;
            var hms = hour+":"+minute+":"+second;
            $("#ymd").text(ymd);
            return ymd;
        }
        function getMyDay(date){
            var week;
            if(date.getDay()==0) week="星期日"
            if(date.getDay()==1) week="星期一"
            if(date.getDay()==2) week="星期二"
            if(date.getDay()==3) week="星期三"
            if(date.getDay()==4) week="星期四"
            if(date.getDay()==5) week="星期五"
            if(date.getDay()==6) week="星期六"
            $("#hms").text(week);
            return week;
        }

        $(document).ready(function() {
            getMyDay(new Date());
            timeStamp2String();
            $("input[name='plate_number']").val("$!{condition.plate_number}");

            $(".k-primary").bind("click", function () {
                var index = $(".k-primary").index($(this));
                var grid;
                if (index == 0) {
                    grid = $("#grid_jqcllist").data("kendoGrid");
                }
                grid.dataSource.read();
            });

            quick_datagrid("#grid_jqcllist", "#jqcllist", "$!{rc.contextPath}/department/list", [
                        {
                            field: "departmentName",
                            title: "部门名称"
                        }, {
                            field: "groupName",
                            title: "群组名称"
                        }, {
                            field: "spaceName",
                            title: "内存名称"
                        }, {
                            field: "maxSpace",
                            title: "最大内存"
                        }, {
                            field: "hasUse",
                            title: "已用内存"
                        },
                        {
                            field: "canUse",
                            title: "可用内存"
                        }, {
                            field: "shiro",
                            title: "使用权限"
                        },
                        {
                            width:"25%",
                            headerTemplate: "操作",
                            attributes: {style: "text-align: center;"},
                            command: [{
                                name: "修改",
                                className: "hc_btn k-primary k-button",
                                click: function (e) {
                                    var tr = $(e.target).closest("tr");
                                    var data = this.dataItem(tr);
                                    var dialogId = "activity_edit";
                                    var dialogTitle = "修改活动信息";
                                    var url = "$!{rc.contextPath}/shiro/edit?id=" + data.id;
                                    quick_dialog(dialogId, dialogTitle, url, 760, 650);
                                }
                            }, {
                                name: "remove",
                                text: "<li class='k-icon k-delete'></li>删除",
                                className: "hc_btn k-primary k-button",
                                click: function (e) {
                                    var tr = $(e.target).closest("tr");
                                    var data = this.dataItem(tr);
                                    var path = "$!{rc.contextPath}/shiro/delete";
                                    single(path, 'id=' + data.id);
                                }
                            }
                            ],
                        }
                    ], {
                        sortable: {
                            mode: "multiple",
                            allowUnsort: true
                        }
                    }, {
                        serverSorting: true
                    }, [
                        {
                            name: "新增",
                            icon: "fa fa-plus",
                            onclick: function (obj) {
                                quick_dialog("activity_add", "新增", "$!{rc.contextPath}/shiro/add", 760, 650, obj);
                            }
                        }
                    ]
            );

            //删除操作
            function single(url, data) {
                singleDeleteByA(url, data, $("#grid_jqcllist"));
            }

            //刷新表格
            function flashGrid() {
                var grid = $("#grid_jqcllist").data("kendoGrid");
                grid.dataSource.read();
            }
            setHeight($(".k-grid-content"),$("#left-nav"));
        });

        /*//删除Cookie
        function removeCookie(name){
            setCookie(name,1,-1);
        }
        //获取浏览器中的Cookie
        function getCookie(cName){
            var cookieString = decodeURI(document.cookie);
            var cookieArray = cookieString.split("; ");
            console.log(cookieArray.length);
            for(var i = 0; i < cookieArray.length; i++){
                var cookieNum = cookieArray[i].split("=");
                console.log(cookieNum.toString());
                var cookieName = cookieNum[0];
                var cookieValue = cookieNum[1];

                if(cookieName == cName){
                    return cookieValue;
                }
            }
            return false;
        }

        function loadColor() {
            //从cookie中取出背景色的标识
            var color = getCookie("background_Color");
            if(color=="red"){
                //将背景色换为红色
                //将顶部导航栏的背景图片换成红色的
                document.getElementById('nav-bg').src = "$!{rc.contextPath}/assets/images/grab/nav/2.jpg";
                //将左侧导航栏的背景图片改为红色
                document.getElementById('nav-left').src = "$!{rc.contextPath}/assets/images/grab/nav/2.jpg";
                //第二个导航栏的背景色为红色
                $("#dhl").css("background-color","red");
                //将每个活动内字体改为红色
                //将标题改为红色
                $(".item-title").css("color","red");
                $(".item-start").css("color","red");
                $(".item-end").css("color","red");
                $(".item-detail a").css("color","red");
                $(".item-detail").css("border","1px solid red");
                //将分页条改为红色
                $(".pagination>li>span").css("color","red");
                $(".pagination>li>a, .pagination>li>span").css("color","red");
                $(".pagination>li>a, .pagination>li>span").css("border-color","red");
                //分页条改为红色
                $(".pagination>.active>span").css("background-color","red");
                $(".pagination>.active>span").css("bordor-color","red");
                $(".pagination>.active>span").css("color","#fff");
                //将被选中的active颜色改为红色
                $(".list-left .list-group-item.active").css("background-color","red");
                $(".list-left .list-group-item.active").css("border-left","4px solid #e48888");


                //第二行导航栏改为红色
                $(".tabs-custom").css("background-color","red");

                //将名片背景改为红色
                $(".person").css("background","url($!{rc.contextPath}/assets/images/grab/nav/2.jpg) center center no-repeat");

                //将按钮背景色改为红色
                /!*$(".k-button").css("background-color","red");*!/

            }else{
                //将顶部导航栏的背景图片换成蓝色的
                document.getElementById('nav-bg').src = "$!{rc.contextPath}/assets/images/grab/nav/nav-bg.png";
                //将左侧导航栏的背景图片改为蓝色
                document.getElementById('nav-left').src = "$!{rc.contextPath}/assets/images/grab/nav/nav-left.png";
                //将蓝色基调背景改成蓝色
                $("#dhl").css("background-color","#248bdd");
                //将每个活动内字体改为红色
                //将标题改为红色
                $(".item-title").css("color","#248bdd");
                $(".item-start").css("color","#248bdd");
                $(".item-end").css("color","#248bdd");
                $(".item-detail a").css("color","#248bdd");
                $(".item-detail").css("border","1px solid #248bdd");
                //将分页条改为蓝色
                $(".pagination>li>span").css("color","#248bdd");
                $(".pagination>li>a, .pagination>li>span").css("color","#248bdd");
                $(".pagination>li>a, .pagination>li>span").css("border-color","#248bdd");
                //分页条改为蓝色
                $(".pagination>.active>span").css("background-color","#248bdd");
                $(".pagination>.active>span").css("bordor-color","#248bdd");
                $(".pagination>.active>span").css("color","#fff");
                //将被选中的active颜色改为红色
                $(".list-left .list-group-item.active").css("background-color","#248bdd");
                $(".list-left .list-group-item.active").css("border-left","4px solid #6dc9ff");

                //第二行导航栏改为红色
                $(".tabs-custom").css("background-color","#248bdd");

                //将名片背景改为红色
                $(".person").css("background","url($!{rc.contextPath}/assets/images/grab/person/mpbj-3.0.png) center center no-repeat");

                //将按钮背景色改为蓝色
                /!*$(".k-button").css("background-color","#245db6");*!/

            }

        }

        $("#bkgRed").on("click",function () {
            //将顶部导航栏的背景图片换成红色的
            document.getElementById('nav-bg').src = "$!{rc.contextPath}/assets/images/grab/nav/2.jpg";
            //将左侧导航栏的背景图片改为红色
            document.getElementById('nav-left').src = "$!{rc.contextPath}/assets/images/grab/nav/2.jpg";
            //将蓝色基调背景改成红色
            $("#dhl").css("background-color","red");
            //将每个活动内字体改为红色
            //将标题改为红色
            $(".item-title").css("color","red");
            $(".item-start").css("color","red");
            $(".item-end").css("color","red");
            $(".item-detail a").css("color","red");
            $(".item-detail").css("border","1px solid red");
            //将分页条改为红色
            $(".pagination>li>span").css("color","red");
            $(".pagination>li>a, .pagination>li>span").css("color","red");
            $(".pagination>li>a, .pagination>li>span").css("border-color","red");
            //分页条改为红色
            $(".pagination>.active>span").css("background-color","red");
            $(".pagination>.active>span").css("bordor-color","red");
            $(".pagination>.active>span").css("color","#fff");


            //将被选中的active颜色改为红色
            $(".list-left .list-group-item.active").css("background-color","red");
            $(".list-left .list-group-item.active").css("border-left","4px solid #e48888");

            //第二行导航栏改为红色
            $(".tabs-custom").css("background-color","red");

            //将名片背景改为红色
            $(".person").css("background","url($!{rc.contextPath}/assets/images/grab/nav/2.jpg) center center no-repeat");

            //将按钮背景色改为红色
           /!* $(".k-button").css("background-color","red");*!/

            //先删除原来的Cookie(吧Cookie的有效天数设为-1就可以),在设置Cookie
            removeCookie("background_Color");
            setCookie("background_Color","red",30);
        })
        $("#bkgBlue").on("click",function () {
            //将顶部导航栏的背景图片换成蓝色的
            document.getElementById('nav-bg').src = "$!{rc.contextPath}/assets/images/grab/nav/nav-bg.png";
            //将左侧导航栏的背景图片改为蓝色
            document.getElementById('nav-left').src = "$!{rc.contextPath}/assets/images/grab/nav/nav-left.png";
            //将蓝色基调背景改成蓝色
            $("#dhl").css("background-color","#248bdd");
            //将每个活动内字体改为红色
            //将标题改为红色
            $(".item-title").css("color","#248bdd");
            $(".item-start").css("color","#248bdd");
            $(".item-end").css("color","#248bdd");
            $(".item-detail a").css("color","#248bdd");
            $(".item-detail").css("border","1px solid #248bdd");
            //将分页条改为蓝色
            $(".pagination>li>span").css("color","#248bdd");
            $(".pagination>li>a, .pagination>li>span").css("color","#248bdd");
            $(".pagination>li>a, .pagination>li>span").css("border-color","#248bdd");
            //分页条改为蓝色
            $(".pagination>.active>span").css("background-color","#248bdd");
            $(".pagination>.active>span").css("bordor-color","#248bdd");
            $(".pagination>.active>span").css("color","#fff");
            //将被选中的active颜色改为蓝色
            $(".list-left .list-group-item.active").css("background-color","#248bdd");
            $(".list-left .list-group-item.active").css("border-left","4px solid #6dc9ff");

            //第二行导航栏改为蓝色
            $(".tabs-custom").css("background-color","#248bdd");

            //将名片背景改为蓝色
            $(".person").css("background","url($!{rc.contextPath}/assets/images/grab/person/mpbj-3.0.png) center center no-repeat");

            //将按钮背景色改为蓝色
           /!* $(".k-button").css("background-color","#245db6");*!/

            //先删除原来的Cookie(吧Cookie的有效天数设为-1就可以),在设置Cookie
            removeCookie("background_Color");
            setCookie("background_Color","blue",30);
        })*/
    })(jQuery, window, document);

</script>
</body>

</html>