<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/bootstrap/css/base.css"/>
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/bootstrap/css/info-mgt.css"/>
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/bootstrap/css/WdatePicker.css"/>
    <link href="$!{rc.contextPath}/assets/bootstrap/css/home.css" rel="stylesheet">

    <title>办公自动化系统</title>

</head>

<body>
<div class="article toolbar" id="menu">
    <div class="title ue-clear">
        <h2>用户中心</h2>
        <a href="javascript:;" class="more">更多</a>
    </div>
    <div class="content" >
        <ul class="toollist ue-clear">
            <li>
                <a onclick="userList();"  class="img"><img src="$!{rc.contextPath}/assets/bootstrap/images/icon01.png"/></a>
                <p><a>用户管理</a></p>
            </li>

            #foreach($a in $!{menuArr})
                #if("user:userManage/delete"==$a)
                    <li>
                        <a onclick="userOnline();" class="img"><img src="$!{rc.contextPath}/assets/bootstrap/images/icon02.png" /></a>
                        <p><a>员工之家</a></p>
                    </li>
                #end
            #end


        </ul>

    </div>
</div>
<div class="content">
    <iframe  id="iframe" width="100%" style="height: 570px" frameborder="0">

    </iframe>
</div>
</body>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/common.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/WdatePicker.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/jquery.pagination.js"></script>
<script type="text/javascript">
    $(".select-title").on("click", function () {
        $(".select-list").hide();
        $(this).siblings($(".select-list")).show();
        return false;
    })
    $(".select-list").on("click", "li", function () {
        var txt = $(this).text();
        $(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
    })

    $('.pagination').pagination(100, {
        callback: function (page) {
            alert(page);
        },
        display_msg: true,
        setPageNo: true
    });

    $("tbody").find("tr:odd").css("backgroundColor", "#eff6fa");

    showRemind('input[type=text], textarea', 'placeholder');
    $(document).ready(function () {
        $("#iframe").attr("src","$!{rc.contextPath}/book/bookList");
    });
    //用户列表
    function userList(){

        $("#iframe").attr("src","$!{rc.contextPath}/hoUser/userList");
    }
    //在线用户
    function userOnline() {

    }
</script>
</html>
