<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/bootstrap/css/base.css" />
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/bootstrap/css/info-mgt.css" />
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/bootstrap/css/WdatePicker.css" />

</head>
<body>
<div class="query" style="height: 48px">
    <table>
        <tr style="height: 100%">
            <td >
                <form  id="search_form" action="" method="post">
                    <div class="query-btn query-conditions ue-clear">

                        <div class="conditions staff ue-clear">
                            <label>图书名称：</label>
                            <input type="text" name="username" id="username_id" style="margin-bottom: 10px" placeholder="请输入用户名称查询"/>
                        ##                        //分页属性 中间量   分页条件搜索提交
                            <input type="hidden" name="pageNo" id="pageNo_id">
                            <input type="hidden" name="pageSize" id="pageSize_id">

                        </div>

                        <a onclick="findPager(-1);" class="confirm">查询</a>
                        <a onclick="clearText();" class="clear">清空条件</a>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="table-operate ue-clear">
    <a onclick="addUser()" class="add">添加</a>
    <a onclick="deleteUser()" class="del">删除</a>
    <a onclick="edit()" class="edit">编辑</a>
    <a onclick="add()" class="count">统计</a>
    <a onclick="check()" class="check">审核</a>
</div>
<div class="table-box">
    <table>
        <thead>
        <tr>
            <th width="2%" style="text-align: center;vertical-align: middle;" ><input type="checkbox" id="main_checkBox"  style="width: 14px;height: 15px;margin-top: 5px"></th>
            <th  width="2%" style="text-align: center;vertical-align: middle;">序号</th>
            <th class="name"style="text-align: center;vertical-align: middle;">姓名</th>
            <th class="process"style="text-align: center;vertical-align: middle;">学(工)号</th>
            <th class="node"style="text-align: center;vertical-align: middle;">角色类型</th>
            <th class="node"style="text-align: center;vertical-align: middle;">所属学院</th>
            <th class="node"style="text-align: center;vertical-align: middle;">联系电话</th>
        ##            <th class="time"style="text-align: center;vertical-align: middle;">操作时间<span>（小时）</span></th>
            <th class="operate"style="text-align: center;vertical-align: middle;">操作</th>
        </tr>
        </thead>
    ## 变化内容
        <tbody id="change_table">
        ## 列表
        </tbody>
    </table>
</div>

<div class="pagination ue-clear"></div>
</body>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/common.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/WdatePicker.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/jquery.pagination.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/layUI/layer/layer.js"></script>

<script type="text/javascript">
    $(".select-title").on("click",function(){
        $(".select-list").hide();
        $(this).siblings($(".select-list")).show();
        return false;
    })
    $(".select-list").on("click","li",function(){
        var txt = $(this).text();
        $(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
    })
    //加载 分页标签
    function showPager(num) {
        $('.pagination').pagination(num,{
            callback: function(page){
                //点击 具体页触方法
                findPager(page);
            },
            display_msg: true,
            setPageNo: true
        });
    }

    showRemind('input[type=text], textarea','placeholder');
    //分页列表初始化加载
    $(document).ready(function () {
        //初始 第一页
        findPager(0);
    })
    //分页列表查询方法
    function findPager(flag){

        //pageNo:页码,pageSize:一页数量
        var pageSize=10;
        //flag:-1 表示点击 搜索  条件查询
        if(flag==-1){
            flag=0;
        }
        var pageNo=flag;
        //将查询条件 和 分页的 两个属性封装成一个对象 传到后台
        //定义了两个属性
        $("#pageNo_id").val(pageNo);
        $("#pageSize_id").val(pageSize);


        //将表单 分装成对象
        var condition = $('#search_form').serializeObject();


        //pageNo:页码,pageSize:一页数量
        var pageSize=10;
        var pageNo=flag;

//            var data={pageSize:pageSize,pageNo:pageNo}
        $.ajax({
            type: "POST",//方法类型
            //dataType: "text",//预期服务器返回的数据类型
            url: "$!{rc.contextPath}/hoUser/findPager"  ,//url
            data:condition,
//            contentType:"application/x-www-from-urlencoded",
            success: function (result) {

                //显示 页码栏
                if(flag=="0"){
                    showPager(result.totalCount);
                }
//                    alert(result.rows[0].username);
                //***** 拼接表单list **********
//                    $("#change_table").append("<tr><td> <input style='text-align: center;background-color:white;font-size: 18px; font-weight: bold; border-color: white' type='text' value='"+createTime+"'> </td></tr>");
                $("#change_table").html("");
                for(var i=0 ,j=result.startRow;i<result.rows.length;i++,j++){
                    var temp = result.rows[i].id;
                    $("#change_table").append("<tr><td style='text-align: center;vertical-align: middle'><input type='checkbox' value='" +temp+ "'  style='width: 14px;height: 15px;align-self: center'></td> <td style='text-align:center;vertical-align:middle;'>"+j+"</td><td class='name'>"+result.rows[i].username+"</td> <td class='process'>"+result.rows[i].person_code+"</td><td class='node'>登记</td><td class='node'>登记</td> <td class='time'>"+result.rows[i].phoneNumber+"</td><td class='operate'><a onclick=View('" +temp+ "');>查看</a><a style='margin-left: 20px' onclick=editUser('" +temp+ "');>编辑</a></td></tr>");
                }
                //加载行tr 的样式
                $("tbody").find("tr:odd").css("backgroundColor","#eff6fa");

            },
            error : function() {
                $.message({
                    message:'操作失败',
                    type:'error'
                });
            }
        });



    }

    //check 全选





    //将form进行对象进行封装
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    //清空
    function clearText(){
        $("#username_id").val("");
    }
    //查询

    ##    //弹出添加用户页面
    ##    function add(){
    ##        window.location.href="$!{rc.contextPath}/hoUser/addUser";
    ##    }
    //弹出添加用户页面
    function addUser(){
        //iframe窗
        layer.open({
            type: 2,
            title: '用户操作',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['700px', '550px'],
            content:  '$!{rc.contextPath}/hoUser/addUser',
            end: function(){

            }
        });
    }
    function deleteUser() {
        var primaryKeys = [];
        $("input[type='checkbox']").each(function () {
            if ($(this).is(':checked')) {
                var id= $(this).val();
                primaryKeys.push(id);
            }
        })
        jQuery.ajax({
            type: "POST",
            url: "$!{rc.contextPath}/hoUser/deletes",
//            dataType: "json",
            data: { "primaryKeys": primaryKeys},
            async: false,
            //map传值前台获取
            success: function (jso) {

                alert(123);
            }
        });


    }

    function View(id) {
        jQuery.ajax({
            type: "POST",
            url: "$!{rc.contextPath}/hoUser/deletes",
//            dataType: "json",
            data: { "primaryKeys": primaryKeys},
            async: false,
            //map传值前台获取
            success: function (jso) {

                alert(123);
            }
        });
    }

</script>
</html>
