<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdmt.gxd.easy.Department.entieies.Department">

    <!--根据条件分页查询-->
    <select id="selectPager" resultType="com.kdmt.gxd.easy.Department.entieies.Department">
        <include refid="PAGER_BEFORE"/>
        <include refid="selectAll" />
      <!--  <include refid="whereByConditionsForPager"/>-->
        <include refid="PAGER_AFTER"/>
    </select>
    <sql id="PAGER_BEFORE">
        SELECT *
        FROM
        (SELECT ROW_.*,
        ROWNUM ROWNUM_
        FROM
        (
    </sql>

    <!-- 普通查询语句 -->
    <sql id="selectAll">
        select * from TICKET_DEPARTMENT
    </sql>
    <sql id="PAGER_AFTER">
        ) ROW_
        WHERE ROWNUM &lt;= #{offsetEnd}
        )
        WHERE ROWNUM_ &gt; #{offset}
    </sql>
    <!--分页统计-->
    <select id="countPager" resultType="Long">
        <include refid="count_pre" />
        <!--<include refid="whereByConditionsForPager"/>-->
    </select>
    <!-- 分页查询条件 -->
    <sql id="whereByConditionsForPager" >
        <where>
            <if test="condition.activityName != null and condition.activityName != null">
                AND activityName like '%#{condition.activityName}%'
            </if>
        </where>
    </sql>
    <sql id="count_pre">
        SELECT COUNT(1) FROM TICKET_ACTIVITY
    </sql>





</mapper>
