#parse("platform/_header.vm")
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<title>抢票系统</title>
<link href="$!{rc.contextPath}/assets/stylesheets/common/bootstrap.min.css" rel="stylesheet">
<link href="$!{rc.contextPath}/assets/stylesheets/common/font-awesome.min.css" rel="stylesheet">
##		<link href="$!{rc.contextPath}/assets/stylesheets/plugin/bootstrap-table.css" rel="stylesheet">
<link href="$!{rc.contextPath}/assets/stylesheets/custom/custom.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="../assets/javascripts/common/html5shiv.js"></script>
<![endif]-->
</head>

<body>
<div class="container-fluid container-custom">
    <div class="row-fluid">
        <!--导航栏-->
        <div class="navbar-top">
            <div class="navbar-top-con">
                <a class="brand" href="#">抢票系统</a>
                <ul class="nav pull-right">
                    <li>
                        <a href="$!{rc.contextPath}/toHome">抢票</a>
                    </li>
                    <li>
                        <a href="$!{rc.contextPath}/activity/list">公示</a>
                    </li>
                    <li class="active">
                        <a href="$!{rc.contextPath}/toPersonInformation">个人中心</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--导航栏-->
        <!--正文-->
        <div class="wrapper">
            <!--左侧导航栏-->
            <div class="nav-content" id="nav-wrapper">
                <ul class="nav nav-tabs nav-pills nav-stacked nav-custom">
                    <li class="active">
                        <a href="#person" data-toggle="tab">个人信息</a>
                    </li>
                    <li>
                        <a href="#history" data-toggle="tab">历史抢票记录</a>
                    </li>
                </ul>
            </div>
            <!--左侧导航栏-->
            <!--右侧内容-->
            <div class="tab-wrapper">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="person">
                        <div class="form-wrapper">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="control-label label-custom">姓名</label>
                                    <div class="input-custom">
                                        <input type="text" class="form-control" id="name" placeholder="姓名" value="$!{user.username}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label label-custom">身份证</label>
                                    <div class="input-custom">
                                        <input type="text" class="form-control" id="" placeholder="身份证" value="$!{user.IDCard}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label label-custom">部门</label>
                                    <div class="input-custom">
                                        <input type="text" class="form-control" id="" placeholder="部门" value="$!{user.department}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label label-custom">职务</label>
                                    <div class="input-custom">
                                        <input type="text" class="form-control" id="" placeholder="职务" value="$!{user.duties}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label label-custom">手机号</label>
                                    <div class="input-custom">
                                        <input type="text" class="form-control" id="" placeholder="手机号" value="$!{user.phoneNumber}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history" >
                        <table class="table table-hover" id="history-table">
                            <thead></thead>
                            <tbody>
                            </tbody>
                        </table>
                        <form id="ticketList" class="ui-form">

                        </form>
                        <div id="grid" >

                        </div>
                    </div>
                </div>
            </div>
            <!--右侧内容-->
        </div>
        <!--正文-->
    </div>
</div>
<script src="$!{rc.contextPath}/assets/javascripts/jquery/jquery-1.8.3.min.js"></script>
<script src="$!{rc.contextPath}/assets/javascripts/common/bootstrap.min.js"></script>
##		<script src="$!{rc.contextPath}/assets/javascripts/bootstrap-table/bootstrap-table.js"></script>
##		<script src="$!{rc.contextPath}/assets/javascripts/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
##<script src="$!{rc.contextPath}/assets/kendo/ued/js/site.js"></script>
    #parse("platform/_footer.vm")
<script>
    (function($, window, document, undefined) {
        /**
         * setHeight()
         * 为了方便一屏展示所有数据，设置元素高度
         */
        var setHeight = function(opt) {
            var winHeight = $(window).height(),
                    panelHeight = opt.offset().top;
            var getHeight = winHeight - panelHeight-200;
            opt.height(getHeight + "px");
        }
        $(document).ready(function() {
            setHeight($(".k-grid-content"));
            /*$('#history-table').bootstrapTable({
                method: 'post',
                contentType: "application/x-www-form-urlencoded", //必须要有！！！！
                url: "$!{rc.contextPath}/person", //要请求数据的文件路径
						toolbar: '#toolbar', //指定工具栏
						striped: true, //是否显示行间隔色
						dataField: "res", //bootstrap table 可以前端分页也可以后端分页，这里
						//我们使用的是后端分页，后端分页时需返回含有total：总记录数,这个键值好像是固定的
						//rows： 记录集合 键值可以修改  dataField 自己定义成自己想要的就好
						pageNumber: 1, //初始化加载第一页，默认第一页
						pagination: true, //是否分页
						queryParamsType: 'limit', //查询参数组织方式
						sidePagination: 'server', //指定服务器端分页
						pageSize: 10, //单页记录数
						pageList: [5, 10, 20, 30], //分页步进值
						showRefresh: false, //刷新按钮
						showColumns: false,
                        search: false, //显示搜索框
						clickToSelect: true, //是否启用点击选中行
						toolbarAlign: 'right',
						//工具栏对齐方式
						buttonsAlign: 'right', //按钮对齐方式
						toolbar: '#toolbar', //指定工作栏
						columns: [{
								title: '全选',
								field: 'select',
								//复选框
								checkbox: true,
								width: 25,
								align: 'center',
								valign: 'middle'
							},
							{
                                title: '发布时间',
                                field: 'dataDate',
                                sortable: true
                            },
							{
								title: '抢票内容',
								field: 'detail',
							},
							{
								title: '警员名字',
								field: 'userName'
							},
							{
                                title: '数量',
                                field: 'ticketNum',
                            }
						],
						locale: 'zh-CN', //中文支持,
						responseHandler: function(res) {
							//在ajax获取到数据，渲染表格之前，修改数据源
							console.log(res);
                            $(".pull-right").css("display", "block");
							return res;
						}
					})*/

        });

        var activityName = "ai";
        quick_datagrid("#grid", "#ticketList", "$!{rc.contextPath}/person",
                [{
                    field: "dataDate",
                    title: "抢票日期"
                },
                    {
                        field: "activityName",
                        title: "内容"
                    }, {
                    field: "ticketNum",
                    title: "抢到票数"
                }, {
                    field: "userName",
                    title: "用户姓名"
                }
                ], {
                    sortable: {
                        mode: "multiple",
                        allowUnsort: true
                    }
                }, {
                    serverSorting: true
                }
        );
    })(jQuery, window, document);
</script>
</body>

</html>