<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/bootstrap/css/base.css"/>
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/bootstrap/css/info-reg.css"/>
## 消息
    <link rel="stylesheet" href="$!{rc.contextPath}/assets/message/css/message.css">
##    <link rel="stylesheet" type="text/css" href="$!{rc.contextPath}/assets/message/css/bootstrap.css">
    <title>办公自动化系统</title>
</head>

<body>
<div class="title"><h2>信息登记</h2></div>

<div class="main">
    <form id="user_form" action="" method="post">
        <p class="long-input ue-clear">
            <label>用户名：</label>
            <input type="text" name="username" id="username_id" style="width: 300px" placeholder="3~12位字母加数字"/>
        </p>
        <p class="long-input ue-clear">
            <label>密码：</label>
            <input type="password" name="password" id="" style="height: 25px;width: 320px"/>
        </p>
        <p class="long-input ue-clear">
            <label>确认密码：</label>
            <input type="password" id="repetPassword" style="height: 25px;width: 320px"/>
        </p>
##        <p class="short-input ue-clear">
##            <label>生日：</label>
##            <input type="text" placeholder="生日日期" style="width: 300px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
##        </p>
        <p class="long-input ue-clear">
            <label>联系电话：</label>
            <input type="text" name="phoneNumber" style="width: 300px" placeholder="联系电话"/>
        </p>
    ##        <p class="long-input ue-clear">
    ##            <label>邮箱：</label>
    ##            <input type="text" style="width: 300px" name="email" placeholder="邮箱"/>
    ##        </p>

    ##        <p class="long-input ue-clear">
    ##            <label>人员姓名：</label>
    ##            <input type="text" style="width: 300px" name="person_name" placeholder="邮箱"/>
    ##        </p>
        <p class="short-input ue-clear">
            <label>所属部门：</label>
            <select id="department" name="department" style="width:325px; height: 30px">
                <option value="">请选择</option>
                #foreach($data in $department)
                    <option value="$!{data.id}">
                        $!{data.name}
                    </option>
                #end
            </select>
        </p>


        <p class="short-input ue-clear">
            <label>备注：</label>
            <textarea name="remark" placeholder="请输入内容"></textarea>
        </p>
    </form>
</div>
<div class="btn ue-clear">
    <a class="confirm" onclick="subForm()">确定</a>
    <a href="javascript:;" class="clear">清空</a>
</div>
</body>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/common.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/assets/bootstrap/js/WdatePicker.js"></script>
##提示消息
<script src="$!{rc.contextPath}/assets/message/js/jquery.min.js"></script>
<script src="$!{rc.contextPath}/assets/message/js/message.js"></script>
<script type="text/javascript">
    $(".select-title").on("click", function () {
        $(".select-list").toggle();
        return false;
    });
    $(".select-list").on("click", "li", function () {
        var txt = $(this).text();
        $(".select-title").find("span").text(txt);
    });


    showRemind('input[type=text], textarea', 'placeholder');
    function subForm() {
        var data = $('#user_form').serializeObject();
        debugger;
        $.ajax({
            type: "POST",//方法类型
            //dataType: "text",//预期服务器返回的数据类型
            url: "$!{rc.contextPath}/hoUser/addUser",//url
            data: data,
//            contentType:"application/x-www-from-urlencoded",
            success: function (result) {
                $.message('操作成功');

            },
            error: function () {
                $.message({
                    message: '操作失败',
                    type: 'error'
                });
            }
        });

    }
    //将form进行对象进行封装
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    //消息相关方法
    //    $(function(){
    //        $('#btn-success').on('click',function(){
    //            $.message('成功');
    //        })
    //        $('.btn-danger').on('click',function(){
    //            $.message({
    //                message:'失败提示',
    //                type:'error'
    //            });
    //        })
    //        $('.btn-warning').on('click',function(){
    //            $.message({
    //                message:'警告提示',
    //                type:'warning'
    //            });
    //        })
    //        $('.btn-info').on('click',function(){
    //            $.message({
    //                message:'信息提醒',
    //                type:'info'
    //            });
    //        })
    //
    //    })


</script>
</html>
