<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kdmt.gxd.easy.userRole.daos.HoUserRoleMapper" >
    <resultMap id="BaseResultMap" type="com.kdmt.gxd.easy.userRole.entities.HoUserRole" >
        <result column="uid" property="uid" jdbcType="BIGINT" />
        <result column="rid" property="rid" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        uid,
        rid
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from ho_user_role
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from ho_user_role
    </delete>


    <insert id="insert" parameterType="com.kdmt.gxd.easy.userRole.entities.HoUserRole" >
        insert into ho_user_role (
            uid,
            rid
        )
        values (
            #{uid,jdbcType=BIGINT},
            #{rid,jdbcType=BIGINT}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.kdmt.gxd.easy.userRole.entities.HoUserRole" >
        insert into ho_user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                uid,
            </if>
            <if test="rid != null" >
                rid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="rid != null" >
                #{rid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.kdmt.gxd.easy.userRole.entities.HoUserRole" >
        update ho_user_role
        <set >
            <if test="uid != null" >
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="rid != null" >
                rid = #{rid,jdbcType=BIGINT},
            </if>
        </set>
    </update>

    <update id="updateByPrimaryKey" parameterType="com.kdmt.gxd.easy.userRole.entities.HoUserRole" >
        update ho_user_role
        set
        <trim suffixOverrides="," >
            uid = #{uid,jdbcType=BIGINT},
            rid = #{rid,jdbcType=BIGINT},
        </trim>
    </update>

    <select id="loadModels" resultMap="BaseResultMap">
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        from ho_user_role
        <if test="condition != null">
            where ${condition}
        </if>
        <if test="order != null and sort != null">
            order by ${order} ${sort}
        </if>
        <if test="offset != -1 and limit != -1">
            limit #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
        </if>
    </select>

    <select id="loadMaps" resultType="java.util.HashMap">
        select
        <if test="parameters != null">
         ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        from ho_user_role
        <if test="condition != null">
            where ${condition}
        </if>
        <if test="order != null and sort != null">
            order by ${order} ${sort}
        </if>
        <if test="offset != -1 and limit != -1">
            limit #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
        </if>
    </select>

    <select id="count" resultType="long">
        select count(
        <if test="isDistinct == true">
            distinct
        </if>
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        ) from ho_user_role
        <if test="condition != null">
            where ${condition}
        </if>
    </select>

    <select id="findModel" resultMap="BaseResultMap" >
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if> from ho_user_role
    </select>

    <select id="findMap" resultType="java.util.HashMap" >
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if> from ho_user_role
    </select>
</mapper>