<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="$!{rc.contextPath}/assets/bootstrap/css/base.css" rel="stylesheet">
<link href="$!{rc.contextPath}/assets/bootstrap/css/jquery.dialog.css" rel="stylesheet">
<link href="$!{rc.contextPath}/assets/bootstrap/css/index.css" rel="stylesheet">
    <script src="$!{rc.contextPath}/assets/bootstrap/js/jquery.js"></script>
    <script src="$!{rc.contextPath}/assets/bootstrap/js/common.js"></script>
    <script src="$!{rc.contextPath}/assets/bootstrap/js/core.js"></script>
    <script src="$!{rc.contextPath}/assets/bootstrap/js/jquery.dialog.js"></script>
##    <script src="$!{rc.contextPath}/assets/bootstrap/js/index.js"></script>
<title>办公自动化系统</title>
</head>

<body>
<div id="container">
	<div id="hd">
    	<div class="hd-wrap ue-clear">
        	<div class="top-light"></div>
##            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear"><span>欢迎您,</span><a href="javascript:;" class="user-name">Admin</a></div>
                <div class="login-msg ue-clear">
                    <a href="javascript:;" class="msg-txt">消息</a>
                    <a href="javascript:;" class="msg-num">10</a>
                </div>
            </div>
            <div class="toolbar ue-clear">
                <a href="javascript:;" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
    	<div class="wrap ue-clear" style="width: 100%">
        	<div class="sidebar">
            	<h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                	<li class="office current"><div class="nav-header"><a onclick="homeMenu();" class="ue-clear"><span>日常办公</span><i class="icon"></i></a></div></li>
##                    <li class="gongwen"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>公文起草</span><i class="icon"></i></a></div></li>
##                    <li class="nav-info">
##                    	<div class="nav-header"><a href="javascript:;" class="ue-clear"><span>导航信息管理</span><i class="icon"></i></a></div>
##                        <ul class="subnav">
##                            <li><a onclick="showTV()">授课视频</a></li>
##                        	<li><a onclick="tableMenu();">信息录入</a></li>
##                            <li><a onclick="listMenu();">信息管理</a></li>
##                            <li><a onclick="homeMenu();">领导值岗管理</a></li>
##                            <li><a href="javascript:;">中层领导管理</a></li>
##                            <li><a href="javascript:;">领导值班记录</a></li>
##                        </ul>
##                    </li>
                    <li class="konwledge"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>图书借阅管理</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a onclick="borrowBook()">图书借阅</a></li>
                            <li><a onclick="haveBorrow()">已借查询</a></li>
##                            <li><a onclick="updownBook();">图书上下架</a></li>
                            <li><a onclick="bookStore();">库存管理</a></li>
                        </ul>
                    </li>
                    <li class="agency"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>流程中心</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a onclick="myPropose()">我的申请</a></li>
                        </ul>
                    </li>
##                    <li class="email"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>邮件管理</span><i class="icon"></i></a></div>
##
##                    </li>
                    <li class="system"><div class="nav-header"><a href="javascript:;" class="ue-clear"><span>系统管理</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a onclick="userCeter();">用户中心</a></li>
                            <li><a onclick="roalManage();">角色管理</a></li>
                            <li><a onclick="permissionManage();">权限管理</a></li>
##                            <li><a onclick="departmentManage();">部门管理</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content" >
            	<iframe  id="iframe" width="100%" height="100%" frameborder="0">

                </iframe>
           </div>
    </div>
    <div id="ft" class="ue-clear">
    	<div class="ft-left">
            <span>AI中国</span>
            <em>Office&nbsp;System</em>
        </div>
        <div class="ft-right">
            <span>Automation</span>
            <em>V2.0&nbsp;2014</em>
        </div>
    </div>
</div>
<div class="exitDialog">
	<div class="dialog-content">
    	<div class="ui-dialog-icon"></div>
        <div class="ui-dialog-text">
        	<p class="dialog-content">你确定要退出系统？</p>
            <p class="tips">如果是请点击“确定”，否则点“取消”</p>
            
            <div class="buttons">
                <input type="button" onclick="logOut();" class="button long2 ok" value="确定" />
                <input type="button" class="button long2 normal" value="取消" />
            </div>
        </div>
        
    </div>
</div>
</body>
<script>

    //导航信息管理 菜单跳转***********************************************
    function tableMenu(){
        $("#iframe").attr("src","$!{rc.contextPath}/Oa/info_reg");
    }
    function listMenu(){
        $("#iframe").attr("src","$!{rc.contextPath}/Oa/info_mgt");
    }
    function homeMenu(){
        $("#iframe").attr("src","$!{rc.contextPath}/Oa/home");
    }
    function showTV(){
        $("#iframe").attr("src","$!{rc.contextPath}/Oa/showTV");
    }
    $(document).ready(function () {
        $("#iframe").attr("src","$!{rc.contextPath}/Oa/home");
    })
    //********************************************************************
    // **系统管理 菜单跳转
    function userCeter() {
        $("#iframe").attr("src","$!{rc.contextPath}/hoUser/userManage");
    }
    function roalManage(){

        $("#iframe").attr("src","$!{rc.contextPath}/role/roalManage");
    }
    function permissionManage(){
        $("#iframe").attr("src","$!{rc.contextPath}/permission/permissionList");
    }
    function departmentManage(){
        $("#iframe").attr("src","$!{rc.contextPath}/department/departmentManage");
    }
    /**
     * 图书管理***************************************************************************
     */
    function borrowBook(){
        $("#iframe").attr("src","$!{rc.contextPath}/book/borrowBook");
    }
    function haveBorrow(){
        $("#iframe").attr("src","$!{rc.contextPath}/role/roalManage");
    }
    function updownBook(){
        $("#iframe").attr("src","$!{rc.contextPath}/book/updownBook");
    }
    function bookStore(){
        $("#iframe").attr("src","$!{rc.contextPath}/bookStore/bookStoreList");
    }
    /**
     * 流程管理
     */
    function myPropose() {
        $("#iframe").attr("src","$!{rc.contextPath}/hoPropose/proposeList");
    }
    function logOut(){
##        var url = '$!{rc.contextPath}/hoUser/logout';
##        $.ajax({
##            url:url,
##            type:'post',
##            success:function(data) {
##            }
##        });

        window.location.href="$!{rc.contextPath}/index/logout";
    }




</script>

##<script src="$!{rc.contextPath}/assets/bootstrap/js/jquery.js"></script>
##<script src="$!{rc.contextPath}/assets/bootstrap/js/common.js"></script>
##<script src="$!{rc.contextPath}/assets/bootstrap/js/core.js"></script>
##<script src="$!{rc.contextPath}/assets/bootstrap/js/jquery.dialog.js"></script>
<script src="$!{rc.contextPath}/assets/bootstrap/js/index.js"></script>

</html>
